 .container { 
  width: 18rem;
} 
.card {
    -moz-perspective: 300rem;
    perspective: 300rem;
    position: relative;
    height: 18rem;
    border-radius: 10px;
    backface-visibility: hidden;
  }
.card__side {
    height: 18rem;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 18rem;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }

.card__side--front {
    background-color: #fff; }
       
.card__side--back {
    transform: rotateY(180deg); }
      
.card__side--back-1 {
    background-image: linear-gradient(to right bottom, #aac8a7, #ffff); }

.card:hover .card__side--front {
    transform: rotateY(-180deg); }

.card:hover .card__side--back {
    transform: rotateY(0); }

.card__heading {
    position: absolute;
    top: 2rem;
    left: 1rem;
    color: #fafafa;
    width: 70%;
    font-size: 1.5rem;
    /* line-height: 1.4; */
    text-align: left;
    /* text-transform: uppercase; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .card__heading span {
    box-decoration-break: clone;
  }
  span.card__span-mountain {
    font-size: 1.2rem;
    padding: 0;
  }
  
  .card__details {
    color: #121212;
    font-size: .9rem;
    margin-top: -4rem;
    margin-left: -3rem;
    padding-top: 6rem;
    padding-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;

  }
  .card__details ul {
    width: 60%;
    margin: auto;
  }
  
  .card__details li:not(:last-child) {
    margin-bottom: .5rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid #ddd;
  }

  
  .btn {
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;
    padding: .8rem 1.6rem;
    border-radius: 2rem;
  }
  
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }
  
  .btn:active,.btn:focus {
    transform: translateY(0);
  }
  
  .btn--white {
    background-color: #fff;
  }


ol, ul {
  list-style: none;
}



.back__side__details{
  color: #212121;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .9rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: .5rem;
  width: 80%;
}

.Objectifs_Title{
  margin: 1rem;
  padding-top: 1em;
  font-family:Arial, Helvetica, sans-serif ;
  color: #121212;

}

.button_container{
  position: absolute;
  top: 13rem;
  left: 8rem;

}

.more_info_button:hover{
  transform: translateX(3px);
  color: #617a55;
}

.more_info_button{
  border-radius: 1em;
  cursor: pointer;
  border-color: #fff;
  background-color : transparent;
  font-family: 'Roboto';
  color: #a4d0a4;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_color{
  background-color: #aac8a7;
  width: 18rem;
  height: 45%;
}


.backside__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}