/* .card1{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color:rgb(211, 211, 211);
    margin-bottom: 10px;} */

.card1{
  background-color: #fafafa;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 1rem;
  height: fit-content;

}
.bigg_container{
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
}

.buttonss{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}
.select_container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 20px;
}
.card-header {
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
.liste-module {
    margin-top: 1%;
    margin-left: 3%;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border-color: #212121;
  }
  .boutton1 {
   
    background-color: rgb(0, 100, 0);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
    height: 50px;
  }
  .boutton2 {
   
    background-color: rgb(0, 100, 0);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
    height: 50px;

  }