:root {
    --primary-bg: #242526;
    --secondary-bg: #fff;
    --primary-text-color: #555;
    --secondary-text-color: #cecece;
    --border-radius: 8px;
    --speed: 500ms;
  }

  
  ul{
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }

  .menu-container{
    font-family: 'Poppins';
  }
.menu-trigger img {
    position: absolute;
    top: 20px;
    right: 40px;
    height: 20px;
    width: 20px;
    /* border-radius: 60%; */
    /* overflow: hidden; */
    cursor: pointer;
}
.menu-trigger{
    display: flex;
    justify-content: flex-end; 
}

.dropdown-menu{
    position: absolute;
    top:100px;
    right: 20px;
    background-color: #ffff;
    border-radius: var(--border-radius);
    padding: 10px 20px;
    width: 200px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.dropdown-menu ::before{
    content: '';
    position: absolute;
    top:-5px;
    right: 20px;
    height: 20px;
    width: 20px;
    background: var(--secondary-bg);
    transform: rotate(45deg);
}

h3{
    width: 100%;
    text-align: center;
    font-size: 1rem;
    padding: 20px 0;
    font-weight: 500;
    color: var(--primary-text-color);
    line-height: 1.2rem;
    font-family: apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

h3 span{
    font-size: .9rem;
    color: var(--secondary-text-color);
    font-weight: 400;
    font-family: apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.dropdown-menu ul li {
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

}

.dropdown-menu ul li:hover a{
    color: #121212;
    cursor: pointer;
}

.dropdown-menu ul li:hover img{
    opacity: 1;
    cursor: pointer;
}


.dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed);

}

.dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
}

.dropdownItem{
    display: flex;
}

.dropdownItem img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: var(--speed);
}

.dropdownItem a{
    max-width: 100px;
    margin-left: 10px;
    transition: var(--speed);
    font-family: apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}