  .connexion-button{
    background-color:#617a55;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-weight: bold;
    margin-left: 3.5rem;
  }

  .inscription-button{
    background-color:#617a55;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-weight: bold;
    margin-left: 3.5rem;
  }
  .connexion:hover{
    background-color:rgba(124, 124, 124, 0.5);
  }

  .conteneur{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carte-signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #cccc;
    border-radius: 15px;
    width: 460px;
    height: 600px;
    background-color:#FAFAFA;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.carte-signin{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #cccc;
    border-radius: 15px;
    width: 400px;
    height: 500px;
    background-color:#FAFAFA;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.cartecorps{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;}


 
 .titre {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  margin-bottom: 2rem;
  /* margin-left: 3rem; */
  margin-top: 2rem;
}

.titre h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  .mdp {
    width: 300px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding-left: 1rem;
  }
  .mail {
    width: 300px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 1rem;
  }

  .link{
    margin: 1.5rem;
    margin-top: 3rem;
  }
  .link1,.link2{
   text-decoration: none;

  }

  a:hover{
    color:rgb(115, 10, 221); 
      }
      a{
        color:rgb(142, 110, 173);
      }
.err{
  animation: clignote 1s infinite;
  color: red;
 
}
@keyframes err{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}