.outer-container{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.inner-container{
    position: sticky;
    margin-top: 10%;
    width: 80vw;
    min-height: 100vh;
    border-radius:1rem;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; 
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
    background-color: #FAFAFA;
}

.outer-container div form{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.outer-container div form label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #222222;
}

.question-container {
    display: flex;
    justify-content: space-between;
}

.buttons-container{
    display: flex;
    justify-content: flex-end;
    
}

button{
    margin: 1rem;
}

.banqueInput{
    width: 400px;
    height: 30px;
    padding: 12px 20px;
    box-sizing: border-box;
    margin: 8px 0;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background-color: #FAFAFA;
}

select{
padding: 14px 20px;
margin: 15px;
border: none;
/* border-radius: 4px; */
background-color: #f1f1f1;
}

